<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="/rdata" method="post">
        <input type="text" name = "file_path" placeholder="파일명 입력">
        <input type="text" name = "subject" placeholder="컬럼 위치 입력">
        <input type="text" name = "score" placeholder="평균 값 입력">
        <input type="submit">
    </form>
</body>
</html>